body {
  background-image: url(./images/Blurred_Background.jpg);
}

.container {
  /*color: white;*/
  text-align: center;
}

.hour, .days {
  font-size: 50px;
}

.start-time, .end-time, .days-left {
  font-size: 20px;
}

.scheduler, .round-border, .scheduler, .bar {
  margin-top: 10px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

.scheduler {
  margin-bottom: 60px;
}

.bar-graph, .days-left {
  margin-top: 20px;
}

.therm {
  margin-left: 47px;
}
