@font-face {
    font-family: myFirstFont;
    src: url(fonts/Ormont_Light.ttf);
}

body {
  background-image: url(./images/Blurred_Background.jpg);
}

.container {
  /*color: white;*/
  text-align: center;
}

.title {
  font-family: 'myFirstFont';
  font-style: 'myFirstFont';
  font-weight: bold;
}

.hour, .days {
  margin-top: 10px;
  font-family: 'myFirstFont';
  font-style: 'myFirstFont';
  font-weight: bold;
  font-size: 50px;
}

.start-time, .end-time, .days-left {
  font-size: 20px;
  font-weight: bold;
}

.scheduler, .round-border, .bar {
  margin-top: 10px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

.false {
  margin-top: 10px;
  border-radius: 20px;
  background-color: rgba(255, 0, 0, 0.45);
}

.scheduler {
  margin-bottom: 60px;
}

.bar-graph, .days-left {
  margin-top: 20px;
}

.therm {
  margin-left: 47px;
}
