body {
  background: #76b852;
  background: -webkit-linear-gradient(to left, #76b852 , #8DC26F);
  background: linear-gradient(to left, #76b852 , #8DC26F);
}

.container {
  text-align: center;
}

.hour {
  font-size: 50px;
}

.start-time .end-time {
  font-size: 20px;
}

.scheduler {
  margin-top: 10px;
  margin-bottom: 60px;
  border-radius: 20px;
  border: 5px solid #ffffff;
}

.bar-graph {
  margin-top: 20px;
}

.days-left {
  font-size: 30px;
  margin-top: 20px;
}

.days {
  font-size: 50px;
}

.round-border {
  margin-top: 10px;
  border-radius: 20px;
  border: 5px solid #ffffff;
}

.bar {
  text-align: center;
  margin-top: 10px;
  border-radius: 20px;
  border: 5px solid #ffffff;
}
